<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Valik Taxi — Ваш комфортний сервіс таксі</title>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
        <link href="taxi.js" rel="js">
      </head>
<body>
    <nav>
        <div class="logo">
            <a href="index.html"><img class="logo-img" src="logo.svg" alt="Italian Trulli"></a>
            <a href="index.html"><p>Valik Taxi</p></a>
          </div>
        <div>
          <a href="services.html">Послуги</a>
          <a href="Contact.html">Контакти</a>
          <a href="login.html">Вхід</a>
        </div>
        </nav>
      
      <section id="contacts">
        <h2>Контактна Інформація</h2>
        <div class="contacts">
          <div class="contact">
            <i class="fas fa-phone"></i>
            <p><a href="tel:+380123456789" style="color:inherit; text-decoration:none;">+38 (012) 345-67-89</a></p>
          </div>
          <div class="contact">
            <i class="fab fa-telegram-plane"></i>
            <p><a href="https://t.me/valiktaxi" target="_blank" style="color:inherit; text-decoration:none;">@valiktaxi</a></p>
          </div>
          <div class="contact">
            <i class="fas fa-envelope"></i>
            <p><a href="mailto:valiktaxi@example.com" style="color:inherit; text-decoration:none;">valiktaxi@example.com</a></p>
          </div>
        </div>
      </section>
      <footer>
        <p>&copy; 2025 Valik Taxi. Всі права захищено.</p>
      </footer>
</body>
</html>