<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Valik Taxi — Ваш комфортний сервіс таксі</title>
      <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="style.css">
      <link href="taxi.js" rel="js">
      </head>
<body>
  <nav>
    <div class="logo">
        <a href="index.html"><img class="logo-img" src="logo.svg" alt="Italian Trulli"></a>
        <a href="index.html"><p>Valik Taxi</p></a>
      </div>
    <div>
      <a href="services.html">Послуги</a>
      <a href="Contact.html">Контакти</a>
      <a href="login.html">Вхід</a>
    </div>
    </nav>
      <section id="services">
        <h2>Наші Послуги</h2>
        <div class="features">
          <div class="feature">
            <i class="fas fa-car"></i>
            <h3>Поїздки по місту</h3>
            <p>Швидко доставимо вас до потрібного місця по місту.</p>
          </div>
          <div class="feature">
            <i class="fas fa-plane"></i>
            <h3>Трансфер в аеропорт</h3>
            <p>Зручно та вчасно доставимо вас у будь-який аеропорт.</p>
          </div>
          <div class="feature">
            <i class="fas fa-box"></i>
            <h3>Доставка посилок</h3>
            <p>Оперативна доставка важливих документів та посилок.</p>
          </div>
          <div class="feature">
            <i class="fas fa-briefcase"></i>
            <h3>Корпоративне обслуговування</h3>
            <p>Зручні умови співпраці для бізнесу та компаній.</p>
          </div>
        </div>
      </section>
      <footer>
        <p>&copy; 2025 Valik Taxi. Всі права захищено.</p>
      </footer>
</body>
</html>